@font-face {
  font-family: ProximaNovaRegular;
  src: url("./fonts/Proxima Nova Regular.otf"); }

@font-face {
  font-family: ProximaNovaBold;
  src: url("./fonts/Proxima Nova Bold.otf"); }

@font-face {
  font-family: ProximaNovaCondensed;
  src: url("./fonts/Proxima Nova Condensed Regular.otf"); }

html, body {
  font-family: ProximaNovaRegular; }

.icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center; }

.icon.icon-tick {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='13' height='10' viewBox='0 0 13 10' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath id='a' d='M.544.053h8.678v9.36H.544V.052z'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg transform='translate(3.6 .283)'%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cpath d='M1.18 9.412c-.162 0-.325-.067-.45-.2-.248-.27-.248-.704 0-.97L8.136.253c.25-.268.652-.268.9 0 .25.268.25.702 0 .97L1.63 9.21c-.124.135-.287.202-.45.202' fill='%23FFF' mask='url(%23b)'/%3E%3C/g%3E%3Cpath d='M4.552 9.695c-.162 0-.325-.067-.45-.2L1.058 6.21c-.248-.267-.248-.7 0-.97.25-.267.65-.267.9 0l3.044 3.284c.25.268.25.702 0 .97-.124.134-.287.2-.45.2' fill='%23FFF'/%3E%3C/g%3E%3C/svg%3E"); }

.icon.icon-dots {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='17' height='4' viewBox='0 0 17 4' xmlns='http://www.w3.org/2000/svg'%3E%3Cg transform='translate(.326 .748)' fill='%23FFF' fill-rule='evenodd'%3E%3Ccircle cx='1.5' cy='1.5' r='1.5'/%3E%3Ccircle cx='7.996' cy='1.5' r='1.5'/%3E%3Ccircle cx='14.491' cy='1.5' r='1.5'/%3E%3C/g%3E%3C/svg%3E"); }

.icon.icon-dropdown {
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='32' height='33' viewBox='0 0 32 33' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cfilter x='-1.8%' y='-25.3%' width='103.6%' height='160.2%' filterUnits='objectBoundingBox' id='a'%3E%3CfeOffset dy='2' in='SourceAlpha' result='shadowOffsetOuter1'/%3E%3CfeGaussianBlur stdDeviation='4' in='shadowOffsetOuter1' result='shadowBlurOuter1'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.175696332 0' in='shadowBlurOuter1' result='shadowMatrixOuter1'/%3E%3CfeMerge%3E%3CfeMergeNode in='shadowMatrixOuter1'/%3E%3CfeMergeNode in='SourceGraphic'/%3E%3C/feMerge%3E%3C/filter%3E%3C/defs%3E%3Cg filter='url(%23a)' transform='translate(-1246 -25)' stroke='%23FFF' fill='none' fill-rule='evenodd'%3E%3Cpath d='M1269.497 39.52c0 4.388-3.45 7.947-7.703 7.947-4.254 0-7.704-3.56-7.704-7.948 0-4.39 3.45-7.95 7.704-7.95s7.703 3.56 7.703 7.95z'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M1264.922 37.988l-3.128 5.034-3.128-5.034'/%3E%3C/g%3E%3C/svg%3E"); }

.container {
  width: 1140px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.btn {
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 200;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  font-family: ProximaNovaCondensed;
  color: white; }

.btn.btn-outline {
  background-color: transparent;
  border-color: white; }

.btn.btn-default {
  background-color: #18C2FE; }

.btn.btn-gray {
  background-color: #ABABAB; }

.btn.btn-orange {
  background-color: #FFB100; }

.btn.btn-green {
  background-color: #39D661; }

.btn[disabled] {
  opacity: 0.3; }

.btn[disabled] .icon {
  display: none; }

header {
  background-color: #19C2FD;
  color: white;
  height: 75px;
  line-height: 75px;
  min-width: 1180px; }

header .logo {
  width: 300px;
  float: left;
  font-size: 30px; }

header ul.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  float: right; }

header ul.menu li {
  display: inline-block;
  cursor: pointer;
  padding: 0 10px; }

header ul.menu li:last-child {
  padding-left: 40px;
  font-size: 13px; }

header ul.menu li .btn {
  width: 74px; }

header ul.menu li .icon {
  position: relative;
  top: 5px; }

.rooms {
  margin-top: 45px; }

.room-action {
  border-radius: 5px;
  border: 2px white solid;
  background: transparent;
  margin-bottom: 20px; }

.rooms .rooms-row .room {
  width: 360px;
  height: 243px;
  background-color: white;
  border-radius: 10px 10px 6px 6px;
  position: relative;
  display: inline-block;
  margin: 0 20px 20px 0; }

.rooms .rooms-row .room:last-child {
  margin-right: 0; }

.rooms .rooms-row .room .room-header {
  padding: 0 12px;
  font-size: 15px;
  background-color: #55596D;
  height: 30px;
  line-height: 30px;
  border-radius: 6px 6px 0 0;
  font-family: ProximaNovaBold;
  color: white; }

.rooms .rooms-row .room .room-header .icon {
  position: absolute;
  top: 13px;
  right: 12px;
  cursor: pointer; }

.rooms .rooms-row .room .room-info {
  display: table;
  width: 100%; }

.rooms .rooms-row .room .room-info .circle-container, .rooms .rooms-row .room .room-info .buttons-container {
  display: table-cell;
  position: relative;
  width: 50%;
  padding: 12px; }

.rooms .rooms-row .room .room-info .buttons-container .tip {
  text-align: center;
  color: gray;
  font-size: 10px; }

.rooms .rooms-row .room .room-info .circle-container {
  vertical-align: top;
  padding-top: 15px;
  padding-left: 15px; }

.rooms .rooms-row .room .room-info .circle-container .white-circle {
  background-color: white;
  width: 100px;
  height: 100px;
  padding: 4px;
  border-radius: 54px; }

.rooms .rooms-row .room .room-info .circle-container .dynamic-circle {
  width: 108px;
  height: 108px;
  display: block;
  border-radius: 50%;
  background-color: #39D661;
  padding: 6px;
  background-image: linear-gradient(90deg, transparent 50%, #f8f8f8 50%), linear-gradient(90deg, #f8f8f8 50%, transparent 50%); }

.rooms .rooms-row .room .room-info .circle-container .circle {
  color: white;
  width: 80px;
  height: 80px;
  border-radius: 50px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  font-family: ProximaNovaCondensed;
  padding: 10px 20px; }

.rooms .rooms-row .room .room-info .circle-container .circle.green {
  background-color: #39D661; }

.rooms .rooms-row .room .room-info .circle-container .circle span {
  display: inline-block;
  color: black; }

.rooms .rooms-row .room .room-info .circle-container.empty .circle {
  background-color: #ABABAB; }

.rooms .rooms-row .room .room-info .circle-container.empty .circle span {
  display: none; }

.rooms .rooms-row .room .room-info .circle-container.empty .dynamic-circle {
  background-color: #ABABAB;
  background-image: linear-gradient(90deg, transparent 50%, #ABABAB 50%), linear-gradient(90deg, #ABABAB 50%, transparent 50%); }

.rooms .rooms-row .room .room-info .circle-container.ready .circle {
  background-color: #39D661; }

.rooms .rooms-row .room .room-info .circle-container.pending .circle {
  background-color: #FFB100; }

.rooms .rooms-row .room .room-info .circle-container.pending .dynamic-circle {
  background-color: #FFB100;
  background-image: linear-gradient(90deg, transparent 50%, #FFB100 50%), linear-gradient(90deg, #FFB100 50%, transparent 50%); }

.rooms .rooms-row .room .room-info .btn {
  width: 100px;
  position: relative;
  text-align: left;
  margin-top: 8px;
  padding: 3px 35px 3px 35px; }

.btn-title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 80px; }

.rooms .rooms-row .room .room-info .btn .icon {
  position: absolute;
  left: 8px;
  top: 4px; }

.rooms .rooms-row .room .dash-line {
  border-bottom: 1px dashed lightgray;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 6px;
  width: 334px; }

.rooms .rooms-row .room .room-footer {
  padding: 13px 12px 0 12px; }

.rooms .rooms-row .room .room-footer select {
  width: 215px;
  height: 30px;
  background-color: #f9fafa;
  border-color: #eff0f0;
  margin-right: 20px;
  -webkit-appearance: none;
  padding: 0 10px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='8' height='8' viewBox='0 0 8 8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.048 1.105C-.065.91.028.748.254.748h7.428c.227 0 .32.16.206.357L4.174 7.538c-.113.196-.298.196-.412 0L.048 1.105z' fill='%23000' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 200px 10px;
  cursor: pointer; }

.rooms .rooms-row .room .room-footer select:focus {
  outline: none; }

.rooms .rooms-row .room .room-footer .btn {
  width: 70px; }

footer {
  margin-top: 20px;
  padding: 20px 0;
  text-align: center; }

footer a {
  color: lightgray;
  font-size: 13px;
  text-decoration: none;
  border-right: 1px solid lightgray;
  padding: 0 10px 0 6px; }

footer a:last-child {
  border-right: 0; }
