.form-set {
  padding: 20px;
  border: 1px lightgrey solid;
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .form-set input[type=text], .form-set input[type=password] {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%; }
  .form-set a {
    font-size: 12px;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 5px;
    display: block; }
  .form-set .errors {
    color: red; }
