@import './Positioning.scss';
.form-set {
  padding: 20px;
  border: 1px lightgrey solid;
  width: 500px;
  @include center-bloc();
  input[type=text], input[type=password] {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
  }
  a {
    font-size:12px;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 5px;
    display:block;
  }
  .errors {
    color: red;
  }
}